/* HeroDetailComponent's private CSS styles */

header {
  margin: .5em;
}

header img {
  width: 100%;
  max-height: 14em;
  object-fit: cover;
}

h1 {
  font-family: Montserrat;
  font-size: 1.5em;
  color: #ea4e55;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 1em;
  margin: .5em;
  position: relative;
  top: 3em;
  display: inline;
}

p {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.2em;
  color: #ea4e55;
  margin: 1em .5em;
}

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}

input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

button {
  margin: .5em;
  font-family: Montserrat;
  border: none;
  color: #ea4e55;
  position: absolute;
}

button:hover {
  font-weight: 600;
}