/* HeroesComponent's private CSS styles */

@font-face {
  font-family: Montserrat;
  src: url(/assets/font/Montserrat-Bold.ttf);
}

h1 {
  font-family: Montserrat;
  font-size: 1.5em;
  color: #ea4e55;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 1em;
  margin: .5em;
  display: inline-block;
}

.kaart img {
  width: 60em;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.kaart {
  position: relative;
  min-width: 20em;
  background-color: #d5ebea;
  padding-bottom: 2em;
}

.kaart a img {
  width: 2em;
}

.kaart a img:hover {
  content: url("/assets/images/pointer_red.png");
  width: 2em;
}

.kaart li {
  list-style: none;
}

.kaart a {
  text-decoration: none;
}

#Afrika {
  position: absolute;
  top: 25em;
  left: 48%;
}

#Azie {
  position: absolute;
  top: 18em;
  left: 73%;
}

#Amerika {
  position: absolute;
  top: 17em;
  left: 17%;
}

#Oceanië {
  position: absolute;
  top: 33em;
  left: 80%;
}

#Eurazië {
  position: absolute;
  top: 17em;
  left: 45%;
}

div p {
  color: #ffffff;
  background-color: #ea4e55;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 1.3em;
  padding: 1em;
  margin: -2em .5em .5em .5em;
  display: inline-block;
}

div {
  text-align: right;
}