h1 {
  font-family: Montserrat;
  font-size: 1.5em;
  color: #ea4e55;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 1em;
  margin: .5em;
  display: inline-block;
  position: absolute;
  top: 0em;
}

h2 {
  font-family: Montserrat;
  font-size: 1.5em;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ea4e55;
  padding: 1em;
  margin: .5em;
  display: inline-block;
  position: absolute;
  top: 4em;
  width: 15em;
}

.header img {
  width: 100%;
  padding: 0;
  display: block;
}

.header {
  margin-bottom: 1em;
  position: relative;
  ;
}